.banner-img {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("Banner.jpg");
  object-fit: cover;
  height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.banner-text p {
  color: silver;
  font-size: 28px;
}

