.products-wrapper {
  display: flex;
  margin: 12vh 12vh 12vh 0vh;
  perspective: 900px;
  height: 80vh;
  background: #1e1e1e;
  padding-top: 20px;
  border-bottom: 2px solid silver;
}

.products-title h3 {
  font-size: 28px;
  color: silver;
  text-align: left;
  margin-left: 68px;
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.horizontal-scrollable > .horizontal-row {
  overflow-x: auto;
  white-space: nowrap;
  padding-right: 20vw !important;
}

.horizontal-scrollable > .horizontal-row > .col-xs-4 {
  display: inline-block;
  float: none;
}

.horizontal-row{
  display: flex;
}

.horizontal-row > .card{
  margin-right: 10px;
  padding: 0;
  min-width: 200px;
}

#products-scrollable {
  position: absolute;
  top: 80px;
  left: 0px;
  z-index: 99;
  width: 100%;
}
.active{
  // min-width: 220px !important;
  transition: transform .3s;
  transform: scale(1.1)
}

@media screen and (max-width: 700px) {
  .card-description p {
  font-size: 8px;
  }
}



