.voucher-wrapper {
  margin: 12vh 12vh 12vh 0vh;
  perspective: 900px;
  height: 55vh;
  background: #1e1e1e;
  padding-top: 20px;
  border-bottom: 2px solid silver;
}

.voucher-title h3 {
  font-size: 28px;
  color: silver;
  text-align: left;
  margin-left: 68px;
}

.voucher-box {
  display: flex;
  justify-content: space-around;
}

.voucher img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.voucher-text p {
  color: silver;
}
