.voucher-wrapper {
  display: flex;
  margin: 12vh 0vh 12vh 12vh;
  perspective: 900px;
  height: 60vh;
  background: #1e1e1e;
}

.voucher-title h3 {
  font-size: 28px;
  color: silver;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}
