<div class="navbar-abd">
  <div class="navbar-left">
    <img src="/assets/Logo.jpg">
  </div>

  <div class="navbar-right">
    <div class="navbar-sns">
      <ul>
        <li>
          <a class="sns" href="https://www.facebook.com/adelaidebatdoctor" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </li>
        <li>
          <a class="sns" href="" target="_blank"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a class="sns" href="" target="_blank"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a class="sns" href="" target="_blank"><i class="fas fa-map-marker-alt"></i></a>
        </li>
      </ul>
      <div class="navbar-contact">
        <div><p>0414 314 345</p></div>
        <div><p>matt@adelaidebatdoctor.com.au</p></div>
      </div>
    </div>

    <div class="navbar-title"><h3>Adelaide Bat Doctor</h3></div>
  </div>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
    <!-- <span class="navbar-toggler-icon"></span> -->
    <!-- </button> -->
  </div>
