<div id="navbar-wrapper">
  <div class="logo">
    <img src="/assets/Logo.jpg">
  </div>

  <div class="navbar-list">
    <ul>
      <li>
        <a class="sns" href="https://www.facebook.com/adelaidebatdoctor" target="_blank"><i class="fab fa-facebook-square"></i></a>
      </li>
      <li>
        <a class="sns" href="" target="_blank"><i class="fab fa-instagram"></i></a>
      </li>
      <li>
        <a class="sns" href="" target="_blank"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a class="sns" href="" target="_blank"><i class="fas fa-map-marker-alt"></i></a>
      </li>
    </ul>
    <div class="navbar-contact-m">
      <ul>
        <li>
          <a class="sns" href="" target="_blank"><i class="fas fa-phone"></i></a>
        </li>
        <li>
          <a class="sns" href="" target="_blank"><i class="fas fa-envelope"></i></a>
        </li>
      </ul>
    </div>
    <div class="navbar-contact">
      <div><p>0414 314 345</p></div>
      <div><p>matt@adelaidebatdoctor.com.au</p></div>
    </div>
  </div>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</div>
