<div id="navbar-wrapper">
  <div class="logo">
    <img src=<%= asset_path("/assets/Logo.png") %>>
  </div>

  <div class="navbar-list">
    <div class="navbar-contents">
      <ul>
        <li><a href="#home">TOP</a></li>
        <li><a href="#products">PRODUCTS</a></li>
        <li><a href="#newbats">NEW BAT</a></li>
        <li><a href="#voucher">VOUCHER</a></li>
        <li><a href="https://www.google.com/maps/dir/-37.791367,144.9281504/-34.97638,138.59471/@-36.2795437,137.2639272,6z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0" target="_blank">LOCATION</a></li>
      </ul>
    </div>

    <div class="navbar-icon">
      <ul>
        <li>
          <a class="sns" href="https://www.facebook.com/adelaidebatdoctor" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </li>
        <li>
          <a class="sns" href="" target="_blank"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a class="sns" href="" target="_blank"><i class="fab fa-twitter"></i></a>
        </li>
        <!-- <li>
          <a class="sns" href="matt@adelaidebatdoctor.com.au" target="_blank"><i class="fas fa-envelope"></i></a>
        </li> -->
      </ul>
    </div>

    <div class="navbar-contact">
      <ul>
        <li>
          <a class="sns" href="" target="_blank"><i class="fas fa-phone"></i></a>
        </li>
        <li><p>0414 314 345</p></li>
      </ul>
    </div>

  </div>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</div>
