<body>
  <div id="home" class="banner-img">
    <%= render 'shared/navbar' %>
    <div class="banner-text-box">
      <div class="banner-text">
        <p>Text block here</p>
      </div>
    </div>
  </div>

  <div class="products-wrapper">
    <div class="horizontal-scrollable" id="products-scrollable">
      <div class="horizontal-row px-5 js-products-carousel">
        <!-- card -->
        <div class= "card mt-3 carousel-card-wrapper">
          <img src="assets/Productone.jpg" alt="Friendr">
          <div class="card-description p-3 map-card">
          </div>
        </div>
        <!-- card -->
        <div class= "card mt-3 carousel-card-wrapper">
          <img src="assets/Productone.jpg" alt="Friendr">
          <div class="card-description p-3 map-card">
          </div>
        </div>
        <!-- card -->
        <div class= "card mt-3 carousel-card-wrapper">
          <img src="assets/Productone.jpg" alt="Friendr">
          <div class="card-description p-3 map-card">
          </div>
        </div>
        <!-- card -->
        <div class= "card mt-3 carousel-card-wrapper">
          <img src="assets/Productone.jpg" alt="Friendr">
          <div class="card-description p-3 map-card">
          </div>
        </div>
        <!-- card -->
        <div class= "card mt-3 carousel-card-wrapper">
          <img src="assets/Productone.jpg" alt="Friendr">
          <div class="card-description p-3 map-card">
          </div>
        </div>
        <!-- card -->
        <div class= "card mt-3 carousel-card-wrapper">
          <img src="assets/Productone.jpg" alt="Friendr">
          <div class="card-description p-3 map-card">
          </div>
        </div>
        <!-- card -->
        <div class= "card mt-3 carousel-card-wrapper">
          <img src="assets/Productone.jpg" alt="Friendr">
          <div class="card-description p-3 map-card">
          </div>
        </div>
        <!-- card -->
        <div class= "card mt-3 carousel-card-wrapper">
          <img src="assets/Productone.jpg" alt="Friendr">
          <div class="card-description p-3 map-card">
          </div>
        </div>
        <!-- card -->
        <div class= "card mt-3 carousel-card-wrapper">
          <img src="assets/Productone.jpg" alt="Friendr">
          <div class="card-description p-3 map-card">
          </div>
        </div>
        <!-- card -->
        <div class= "card mt-3 carousel-card-wrapper">
          <img src="assets/Productone.jpg" alt="Friendr">
          <div class="card-description p-3 map-card">
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
