 <div id="home" class="banner-img">
  <div id="navbar-wrapper">
    <div class="navbar-list">
      <ul>
        <a class="sns" href="https://www.facebook.com/adelaidebatdoctor" target="_blank"><i class="fab fa-facebook-square m-3"></i></a>
        <a class="sns" href="" target="_blank"><i class="fab fa-instagram m-3"></i></a>
        <a class="sns" href="" target="_blank"><i class="fab fa-twitter"></i></a>
        <a class="sns" href="" target="_blank"><i class="fas fa-map-marker-alt"></i></a>

        <li>Adelaide Bat Doctor</li>
        <li>0414 314 345</li>
        <li>emailaddress@gmai;.com</li>
      </ul>
    </div>
  </div>
  <div class="banner-text-box">
    <div class="banner-text">
      <h1>Adelaide Bat Doctor</h1>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.

      </p>
    </div>
  </div>
</div>
