.navbar-abd {
  display: flex;
  justify-content: space-between;
  background: white;

  position: fixed;
  z-index: 2;
  opacity: 1;
  width: 100vw;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.navbar-abd .navbar-collapse {
  flex-grow: 0;
}

.navbar-left img {
  width: 150px;
}

.navbar-right {
  padding-top: 8px;
  padding-right: 4px;
}

.navbar-sns {
  display: flex;
}

.navbar-sns ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
}

.navbar-sns a {
  margin: 5px;
  color: black;
}

.navbar-sns p {
  font-size: 8px;
  margin-left: 8px;
  margin: 0;
}

.navbar-contact {
  flex-wrap: wrap;
}

.navbar-title h3 {
  margin-top: 8px;
  margin-bottom: 0px;
  margin-left: 70px;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }

  .navbar-abd {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 50px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .navbar-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50px;
    position: absolute;
    padding: 0;
  }

  .navbar-right li {
    margin: 0 0 50px 0;
  }
}

.nav-active {
  transform: translateX(0%)
}
