.picsone {
  display: flex;
}

.picstwo {
  display: flex;
}

.picsthree {
  display: flex;
}

.pics img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.text-sidebar {
  padding:24px;
}

.details-title h1 {
  color: white;
}

.details-description p {
  color: white;
}


@media screen and (max-width: 300px) {
  .picsone {
  flex-direction: column;
  }

  .picstwo {
  flex-direction: column;
  }

  .picsthree {
  flex-direction: column;
  }
}
