.detailsone {
  display: flex;
}

.detailstwo {
  display: flex;
}

.detailsthree {
  display: flex;
}

.card {
  width: 130px;
}

.details img {
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.details-title h1 {
  color: white;
}

.details-description p {
  color: white;
}


