  <div id="home" class="banner-img">
    <div class="banner-text-box">
      <div class="banner-text">
        <p>Text block here</p>
      </div>
    </div>
  </div>

  <div class="products-wrapper">
    <div class="horizontal-scrollable" id="products-scrollable">
      <div class="horizontal-row px-5 js-products-carousel">

        <% @products.each do |product| %>
          <div class= "card mt-3 carousel-card-wrapper">
            <img src="<%= product.photo %>">
            <div class="card-description p-3 map-card">
              <%= link_to product.name, product_path(product) %>
              <p><%= product.description %></p>
            </div>
          </div>
        <% end %>

          <div class= "card mt-3 carousel-card-wrapper">
            <img src="assets/Quote.jpg">
            <div class="card-description p-3 map-card">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
