<div><h1>product page</h1></div>
<div class="row col-md-8">
  <div class="details-wrapper">
    <div class="detailsone">
      <div class="card m-3 details">
        <img src="Productone.jpg">
      </div>
      <div class="card m-3 details">
        <img src="Productone.jpg">
      </div>
    </div>
    <div class="detailstwo">
      <div class="card m-3 details">
        <img src="Productone.jpg">
      </div>
      <div class="card m-3 details">
        <img src="Productone.jpg">
      </div>
    </div>
    <div class="detailsthree">
      <div class="card m-3 details">
        <img src="Productone.jpg">
      </div>
      <div class="card m-3 details">
        <img src="Productone.jpg">
      </div>
    </div>
  </div>

  <aside class="col-md-4 text-sidebar">
    <div class="details-title">
      <h1>Bat</h1>
    </div>
    <div class="details-description">
      <p>This is blah blah blah</p>
    </div>
  </aside>
</div>
